<!DOCTYPE html>
<html>

<head>
    <title>Express + HBS!</title>
</head>

<body>
    <div class='container'>
        Tecnologias baseadas no NodeJS:
        {{{listNodes technologies}}}
    </div>
</body>

</html>