<div>
    <h3>Criação de conta</h3>
</div>
<form action="/login" method="post">
    <div class="col-md-8">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" maxlength="100" required>
    </div>
    <div class="col-md-8">
        <label for="password" class="form-label">Senha</label>
        <input type="text" class="form-control" id="password" name="password" maxlength="100" required>
    </div>
</form>