<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/hb1">HB1</a>
        <a href="/hb2">HB2</a>
        <a href="/hb3">HB3</a>
        <a href="/hb4">HB4</a>
    </nav>
    {{{body}}}
</body>
</html>
